.icon { background-image: url(../images/sprite.png); display: inline-block; }
.icon-collapse-active { width: 72px; height: 14px; background-position: 0px 0px; }
.icon-collapse-hover { width: 72px; height: 14px; background-position: 0px -14px; }
.icon-collapse { width: 72px; height: 14px; background-position: 0px -28px; }
.icon-extend-active { width: 72px; height: 14px; background-position: 0px -42px; }
.icon-extend-hover { width: 72px; height: 14px; background-position: 0px -56px; }
.icon-extend { width: 72px; height: 14px; background-position: -72px 0px; }